#gridContainer {
    margin-top: 3rem;
    height: 62rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gridContainer > div {
    display: flex;
    margin-bottom: 3rem;
}

.card {
    position: relative;
    width:25rem;
    padding-left: 5rem;
    padding-right: 5rem;
    animation: cardfadin 1s ease;
}

.card img, .hidden img{
    height:10rem;
}

.card h3,.card p {
    color: #454658;
    text-align: justify;
}

.card a {
    color:#5D64D2;
}

.hidden {
    opacity: 0;
    position: relative;
    width:25rem;
    padding-left: 5rem;
    padding-right: 5rem;
}

@keyframes cardfadin {
    0%{
        opacity: 0;
        top:2rem;
    }
    100% {
        opacity:1;
        top:0rem;
    }
}