#sectionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sectionContainer h3 {
    margin: 4rem 0rem 0rem 0rem;
    font-size: 2rem;
    color: #454658;
}

#sectionContainer p {
    width: min(50rem, 80%);
    text-align: center;
    color: #454658;
    margin: 2rem 0rem 2rem 0rem;
}

.sectionImgBox {
    width: 100%;
    display: flex;
    justify-content: center;
    height: min(30rem, 50vw);
    --width-unit: calc(min(50rem, 80%) / 50);
}

.sectionImgBox img {
    position: absolute;
    width: min(50rem, 80%);
}

.sectionImgBox img:nth-child(2) {
    transform-origin: calc(var(--width-unit) * 12) calc(var(--width-unit) * 40);
}

.sectionImgBox img:nth-child(3) {
    /* transform-origin: 22.3rem 13rem; */    
    transform-origin: calc(var(--width-unit) * 30) calc(var(--width-unit) * 25);
}

.sectionImgBox img:nth-child(4) {
    /* transform-origin: 32.9rem 6.75rem; */    
    transform-origin: calc(var(--width-unit) * 40) calc(var(--width-unit) * 20);
}

.sectionImgBox img:nth-child(5) {
    /* transform-origin: 45.6rem 13.5rem; */    
   transform-origin: calc(var(--width-unit) * 55) calc(var(--width-unit) * 30);
}

@keyframes pop {
    100%,
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}
